form {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

div label {
    width: 130px;
    margin-right: 35px;
    border: dotted 1px;
    display: initial;
}

div input {
    width: 100%;
}

button {
    margin-right: 50px;
}